* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #e5e4e2;
    display: flex;
    cursor: none;
    font-family: 'Gilroy-Heavy', sans-serif;
    color: #151515;
}
.c1 {
    height: 20vh;
    width: 20vw;
    border-radius: 50%;
    background-color: rgb(30, 0, 255);
    filter: blur(90px);
    position: absolute;
    animation: one 30s infinite;
    top: 50%;
    left: 50%;
}
.c2 {
    height: 30vh;
    width: 30vw;
    border-radius: 50%;
    background-color: rgb(255, 72, 173);
    filter: blur(90px);
    position: absolute;
    animation: two 30s infinite;
    top: 50%;
    left: 50%;
}
.c3 {
    height: 50vh;
    width: 50vw;
    border-radius: 50%;
    background-color: rgb(140, 0, 215);
    filter: blur(90px);
    position: absolute;
    animation: three 30s infinite;
    top: 50%;
    left: 50%;
}

@keyframes one {
    0% {left: 0; top: 0;}
    25% {left: var(--randomX1); top: var(--randomY1);}
    50% {left: var(--randomX2); top: var(--randomY2);}
    75% {left: var(--randomX3); top: var(--randomY3);}
    100% {left: 0; top: 0;}
}

@keyframes two {
    0% {left: 0; top: 0;}
    25% {left: var(--randomX4); top: var(--randomY4);}
    50% {left: var(--randomX5); top: var(--randomY5);}
    75% {left: var(--randomX6); top: var(--randomY6);}
    100% {left: 0; top: 0;}
}

@keyframes three {
    0% {left: 0; top: 0;}
    25% {left: var(--randomX7); top: var(--randomY7);}
    50% {left: var(--randomX8); top: var(--randomY8);}
    75% {left: var(--randomX9); top: var(--randomY9);}
    100% {left: 0; top: 0;}
}
nav {
    height: 7vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, .15); 
    justify-content: space-between;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 10;
}
nav a {
    font-size: 1vw;
    padding: 5%;
    color: #151515;
}
nav a:hover {
    text-decoration: overline;
}

.time {
    left: 80vw;
    top: 30vh;
    position: absolute;
    font-size: 0.7vw;
}

.intro {
    font-size: 7vw;
    color: #151515;
    position: absolute;
    font-weight: 100;
    text-align: left;
    top: 20vh;
    left: 15vw;
}
.custom-cursor {
    position: fixed;
    width: 25px;
    height: 25px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: transparent;
    pointer-events: none; 
    transition: transform 0.2s ease-out; 
  }
  
  .dot {
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: black;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.next {
    width: 7vw;
    height: 7vw;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 80vh;
    right: 80vw;
    opacity: 0.5;
    font-size: 10vw;
    color: #151515;
}
#duck {
    height: 20vw;
    width: 20vw;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    border-radius: 50%;
    top: 140vh;
    left: 10vw;
    filter: blur(80px);
}
.namaiwa, .prof {
    font-family: "Playfair Display";
    font-weight: 100;
    color: #14cf93;
}

.on {
    font-weight: 500;
    position: absolute;
    top: 120vh;
    right: 10vw;
    font-size: 2.5vw;
    text-align: right;
    letter-spacing: -2;
    color: #151515;
}
.on0 {
    position: absolute;
    top: 105vh;
    left: 15vw;
    font-size: 5vw;
    text-align: right;
    color: #151515;
}
.c4 {
    position: absolute;
    top: 100vh;
    right: 10vw;
    z-index: -1;
    font-size: 15vw;
    color: #9d4edd;
    filter: blur(20px);
}
#page2 {
    height: 50vh;
    position: absolute;
    right: 5vw;
    top: 180vh;
    font-size: 5vw;
    font-weight: 100;
}
#no {
    height: 50vh;
    width: fit-content;
    text-align: right;
    position: absolute;
    font-size: 3vw;
    top: 200vh;
    left: 5vw;
}
.dropdown-content {
    display: none;
    transition: none 3s ease-in-out;
}

.dropdown-title {
    cursor: pointer;
}
.c5{
    width: 25vw;
    height: 25vw;
    background-color: #fcf300;
    position: absolute;
    right: 5vw;
    top: 200vh;
    border-radius: 50%;
    filter: blur(90px);
    z-index: -2;
}
.p3 {
    position: absolute;
    right: 5vw;
    top: 280vh;
    height: 50vh;
    font-size: 10vw;
    background: linear-gradient(to right, #ffcc00, #ff6600);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
#l {
    position: absolute;
    left: 5vw;
    top: 260vh;
    font-size: 4vw;
}
.c6 {
    width: 25vw;
    height: 25vw;
    position: absolute;
    left: 8vw;
    top: 270vh;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    border-radius: 50%;
    filter: blur(90px);
    z-index: -2;
}
.p4 {
    position: absolute;
    left: 0vw;
    top: 320vh;
    font-size: 15vw;
    padding: 20vh 70vw 50vh 10vw;
    filter: blur(3px);
}

.h2 {
    position: absolute;
    left: 15vw;
    top: 355vh;
    font-size: 8vw;
    text-decoration: none;
    color: #151515;
}

.teer {
    font-size: 10vw;
    position: absolute;
    right: 35vw;
    top: 340vh;
}

.shape {
    height: 30vw;
    width: 30vw;
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    position: absolute;
    right: 10vw;
    top: 340vh;
    z-index: -10;
    filter: blur(90px);
    border-radius: 50%;
  }

.c7 {
    width: 25vw;
    height: 25vw;
    position: absolute;
    left: 8vw;
    top: 380vh;
    background: linear-gradient(to right, #ffcc00, #ff6600);
    border-radius: 50%;
    filter: blur(90px);
    z-index: -2;
}
#footer {
    height: 5vh;
    position: absolute;
    top: 480vh;
    left: 5vw;
}
.fa {
    padding: 20px;
    font-size: 10vw;
    text-decoration: none;
    top: 400vh; 
    position: relative;
    left: 60vw;
    transition: color 0.5s ease-in-out;
    color: black;
  }
  
  .fa-facebook:hover {
    color: #316FF6;
  }
  .fa-linkedin:hover {
    color: #0077b5;
  }
  .fa-brands:hover {
    color: #ffffff;
  }
  .fa-instagram:hover {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  }
  .fa-github {
    color: #ffffff;
  }
.f1 {
    font-family: 'Playfair Display';
    color: #14cf93;
}

@media (max-width:600px) {
    nav {
        height: 5vh;
        width: 100vw;
        background-color: rgba(255, 255, 255, .15); 
        display: flex;
        align-items: center;
        position: fixed;
        z-index: 10;
    }
    nav a {
        font-size: 2vh;
        padding: 2vh;
        color: #151515;
    }    

    .time {
        left: 50vw;
        top: 80vh;
        position: absolute;
        font-size: 3vw;
    }
    .intro {
        font-size: 14vw;
        color: #151515;
        position: absolute;
        font-weight: 700;
        text-align: left;
        top: 15vh;
        left: 8vw;
    }
    .next {
        width: 7vh;
        height: 7vh;
        background-color: white;
        border-radius: 50%;
        position: absolute;
        top: 96vh;
        right: 2vw;
        font-size: 10vw;
        color: #151515;
        rotate: 80deg;
    }
    .on0 {
        position: absolute;
        top: 105vh;
        right: 20vw;
        font-size: 14vw;
        text-align: right;
        color: #151515;
    }
    .on {
        position: absolute;
        top: 130vh;
        left: 15vw;
        font-size: 5.8vw;
        text-align: left;
        color: #151515;
    }
    #page2 {
        height: 50vh;
        position: absolute;
        right: 5vw;
        top: 190vh;
        font-size: 12vw;
        font-weight: 100;
        text-align: right;
    }
    #no {
        height: 50vh;
        width: fit-content;
        text-align: right;
        position: absolute;
        font-size: 6vw;
        top: 220vh;
        left: 5vw;
    }    
    #l {
        position: absolute;
        top: 315vh;
        font-size: 5.8vw;
        left: 20vw;
    }
    .p3 {
        position: absolute;
        top: 280vh;
        font-size: 20vw;
    }
    .h2 {
        position: absolute;
        top: 370vh;
        font-size: 14vw;
        left: 20vw;
        text-decoration: none;
        color: #151515;
    }
    .p4 {
        position: absolute;
        top: 340vh;
        right: -10vw;
        font-size: 30vw;
        filter: blur(3px);
    }
    .teer {
        font-size: 15vw;
        position: absolute;
        right: 30vw;
        top: 390vh;
    }
    .fa {
        padding: 20px;
        font-size: 10vw;
        text-decoration: none;
        top: 410vh; 
        position: relative;
        left: 10vw;
        transition: color 0.5s ease-in-out;
        color: black;
      }
      #footer {
        height: 5vh;
        position: absolute;
        top: 441vh;
        left: 45vw;
        font-size: 2.5vw;
    }
}