*{
    background-color: rgb(120, 0, 0);
    margin: 0;
    padding: 0;
}
.header {
margin: 0;
padding: 0;
}
nav a {
color: white;
font-family:'Courier New', Courier, monospace ;
margin: 152px;
text-decoration: underline;
position: relative;
top: 20px;
}
nav a:hover {
    text-decoration: overline;
    color: white;
    }
    .main{
        font-size: 80px;
        text-align: left;
        position: relative;
        top: 140px;
        left: 280px;
        font-family: 'Poppins', sans-serif;
    }
    .main i{
        color: white;
        font-family: 'Playfair Display', serif;
    }