* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #000000;
}
#container {
    height: fit-content;
    width: fit-content;
    color: #ffffff;
    text-align: center;
    position: absolute;
    top: 50vh;
    left: 30vw;
}
.intro {
    font-size: 3em;
    font-family: 'Roboto', sans-serif;
}
@keyframes changeFonts {
    0% {
        font-family: 'Roboto', sans-serif;
        color: white;
    }
    50% {
        font-family: 'Playfair Display', serif;
        color: yellow;
    }
    100% {
        font-family: 'Roboto', sans-serif;
        color: white;
    }
}
.del-1 {
    animation: changeFonts 1s;
}
.del-2 {
    animation: changeFonts 2s;
}
.del-3 {
    animation: changeFonts 3s;
}
.del-4 {
    animation: changeFonts 4s;
}
.del-5 {
    animation: changeFonts 5s;
}
.del-6 {
    animation: changeFonts 6s;
}
.del-7 {
    animation: changeFonts 7s;
}
.del-8 {
    animation: changeFonts 8s;
}
.del-9 {
    animation: changeFonts 9s;
}
.del-10 {
    animation: changeFonts 10s;
}
.del-11 {
    animation: changeFonts 11s;
}
.del-12 {
    animation: changeFonts 12s;
}
.del-13 {
    animation: changeFonts 13s;
}
.del-14 {
    animation: changeFonts 14s;
}
.del-15 {
    animation: changeFonts 15s;
}
.del-16 {
    animation: changeFonts 16s;
}